* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #f4f4f4;
    padding: 100px;
    display: flex;
    justify-content: center;
}
.app {
    padding: 200px;
    display: flex;
    display: grid;
    grid-template-columns: 300px 200px;
    gap: 20px;
    height: fit-content;
}

.calculator {
    background: #222;
    padding: 15px;
    border-radius: 8px;
}

#display {
    padding: 10px;
    height: 60px;
    width: 100%;
    font-size: 28px;
    text-align: right;
    margin-bottom: 10px;
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 22px;
}

.operator {
    background: #ff9500;
    color: white;
}

.clear {
    background: rgb(230, 56, 56);
    color: white;
}

.equals {
    background: #34c759;
    color: white;
    grid-row: span 2;
}

button:hover {
    opacity: 0.6;
}

.history {
    background: whtie;
    padding: 15px;
    border-radius: 8px;
    position: relative;
}

#history-list li {
    font-size: 22px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

#history {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}
.history h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.clear-history{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 8px;
    font-size: 12px;
    width: 100px;
    height: 25px;
    border: 2px solid black;
}


